.dvMenu {
  width: 100%;
  height: 65px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgb(230, 230, 230);
  border-top: 0.5px solid rgb(230, 230, 230);
  position: relative;
  direction: rtl;
}
.menu {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.dvLogo {
  width: 20%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid rgb(230, 230, 230);
}
.img {
  width: auto;
  height: 51px;
}
.dvContent {
  width: 54.7%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 0.5px solid rgb(230, 230, 230);
}

.contentItem {
  width: auto;
  height: auto;
  margin: 0 1rem;
  font-family: yekanBakhtBold;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  flex-direction: column;  list-style: none;
}

.dvList {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  right: 0;
  width: 100%;
  height: 350px;
  padding: auto;
  transition:all 0.3s ease-out ;
  -webkit-transition:all 0.3s ease-out ;
  -moz-transition:all 0.3s ease-out ;
  -ms-transition:all 0.3s ease-out ;
  -o-transition:all 0.3s ease-out ;
  list-style: none;
  opacity: 0;
  flex-wrap: wrap;
  color: black;
}
.dvList:hover{
  color: #0c95ec;
}

.list{
  color: rgb(201, 200, 200);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition:all 0.3s ease-out;
  list-style: inside;
  font-size: 15px;
}

.list:hover{
  color: #0c95ec;
}



.dvListParts{
  width: 33.33%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.txCol{
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  margin: 3rem 0 1rem 0;
  border-bottom: 0.5px solid rgb(205, 205, 205);
  color: black;
}
.txCol:hover{
  color: black !important;
}


.contentItem:hover .dvList {
  display: flex;
  top: 4.1rem;
  visibility: visible;
  opacity: 1;
}

.listTextItem{
display: flex;
flex-direction: column;
}

.contentItem:hover {
  color: #0c95ec;
}
.icons {
  color: black;
  margin: 0;
  font-size: 12px;
  margin: 3px 6px 0 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.contentItem:hover .icons {
  color: #0c95ec;
}
.contentItem:hover > .mainMenu {
  background-color: pink;
}



.getQoets {
  width: 14.98%;
  height: auto;
  background-color: #0c95ec;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.getQoets:hover {
  cursor: pointer;
}
.quotesText {
  font-family: yekanBakht;
  color: white;
}

.quantity {
  width: 17px;
  height: 17px;
  background-color: #0c95ec;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 12px;
  left: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 12px;
}



.dvBtns {
  position: relative;
  width: 5%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid rgb(230, 230, 230);
}
.dvBtns:nth-child(5) {
  position: relative;
  width: 5%;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid rgb(230, 230, 230);
}

@media screen and (min-width: 0px) and (max-width: 426px) {
  .dvList{
    display: none;
  }
  .quantity {
    width: 15px;
    height: 15px;
    font-size: 10px;
    top: 9px;
    left: 6px;
  }
  .dvBtns:nth-child(3) {
    display: flex;
    width: 13%;
  }
  .img {
    height: 45px;
  }
  .dvLogo {
    width: 51%;
  }
  .dvContent {
    width: 9%;
  }
  .contentItem {
    display: none;
  }
  .dvBtns {
    width: 13%;
    direction: ltr;
  }
  .dvBtns:nth-child(5) {
    display: flex;
    width: 13%;
    direction: ltr;
  }
  .getQoets {
    display: none;
    width: 23%;
  }
}
@media screen and (min-width: 429px) and (max-width: 1024px) {
  .dvList{
    display: none;
  }
  .img {
    height: 52px;
  }
  .dvLogo {
    width: 43%;
  }
  .dvContent {
    width: 8%;
  }
  .contentItem {
    display: none;
  }
  .dvBtns {
    width: 10%;
  }
  
  .dvBtns:nth-child(5) {
    display: flex;
    width: 10%;
  }
  .getQoets {
    width: 18.45%;
  }
}
